
div[id^=tag_sep_].gradio-checkbox {
    display: flex !important;
    align-items: center !important;
    min-width: fit-content !important;
    min-width: -moz-fit-content !important;
    max-width: fit-content !important;
    max-width: -moz-fit-content !important;
}

div[id^=tag_sep_].gradio-checkbox > label {
    align-self: center;
}

button[id^=tag_sep_].gradio-button {
    min-width: 4em !important;
    max-width: fit-content !important;
    max-width: -moz-fit-content !important;
    margin-left: 0.5em !important;
    height: 2.4em;
    align-self: end;
    line-height: 1em;
    border-radius: 0.5em;
}
