
div[id^=tag_sep_].gradio-checkbox {
    display: flex !important;
    align-items: center !important;
    max-width: fit-content !important;
    min-width: fit-content !important;
}

div[id^=tag_sep_].gradio-checkbox > label {
    align-self: center;
}
